#header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: darkcyan;
    color: whitesmoke;
}

#search {
    background-color: whitesmoke;
    padding-right: 20px;
}

#cityDate {
    font-size: 20px;
    font-weight: bold;
}

#cityDate, #temp, #hum, #WSpeed, #UV {
    padding: 10px;
}

#forecasthead {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

#daycast {
    margin-right: 20px;
}

.mini-box {
    background-color: royalblue;
    color: whitesmoke;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}